.hero {
  display: grid;
  grid-template-columns: minmax(80px, auto) 1fr minmax(80px, auto);
  align-items: end;
  margin: 0 auto;
  max-width: 1200px;
  padding: 80px 15px 60px 5px;
}

.hero-year {
  font-size: 77px;
  color: rgba(255, 255, 255, 0.518);
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-inner {
  width: 100%;
  margin: 0 auto;
}
.hero-stage {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
}
.avatar-container {
  width: 100%;
  max-width: 350px;
  height: 520px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 12px 30px rgba(0,0,0,0.6);
}
.hero-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-portfolio {
 font-size: 75px;
  color: rgba(255, 255, 255, 0.518);
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 724px) {
  .hero {
    grid-template-columns: 1fr;
    padding: 60px 20px 40px;
  }
  .hero-year {
    font-size: 75px;
  }
  .hero-avatar{
    width: 80%;
  }
  .avatar-container{
      display: flex;
  align-items: center;    
  justify-content: center;  
  text-align: center;  
  }
  .avatar-container { 
    width: 100%; 
    max-width: 320px;
    height: 380px; 
    border-radius: 10px;
    justify-self: center;
    margin: 0 auto;
  }
  .hero h1 { 
    text-align: center;
  }
  .hero p { 
    text-align: center;
  }
}
@media (min-width: 725px) and (max-width: 1024px){
  .hero{
    padding: 70px 16px 50px;
    grid-template-columns: 1fr;
  }
  
  .hero-year {
    font-size: 70px;
    margin-bottom: 20px;
  }
  
  .hero-stage {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .avatar-container {
    width: 100%;
    max-width: 380px;
    height: 480px;
    margin: 0 auto;
  }
  
  .hero-portfolio {
    font-size: 70px;
    margin-top: 20px;
  }
}