@import './variables.css';
@import './hero.css';
@import './navbar.css';
@import './about.css';
@import './projects.css';
@import './footer.css';
@import './contact.css';

/* Global reset to avoid side overflow */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--primary-color);
  color: var(--text-color);
  margin: 0;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
  padding: 0;
  overflow-x: hidden;
  padding-right: 0;

}


